<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=pt_BR, initial-scale=1.0">
    <title>Escola de Informática - início</title>
</head>
<body>
    <h1>Escola de Informática</h1>
    <p>Escolha uma atividade.</p>
    <form action="{{url_for('cadastrar_aluno')}}" method="get">
        <button type="submit">Cadastrar aluno</button>
    </form>
    <br>
    <form action="" method="get">
        <button type="submit">Consultar alunos e cursos</button>
    </form>    
</body>
</html>